name: Build
on:
  workflow_call
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Create Code Signing Certificate
      run : |
        New-Item -ItemType directory -Path certificate
        Set-Content -Path certificate\certificate.txt -Value '${{ secrets.CERTIFICATE }}'
        certutil -decode certificate\certificate.txt certificate\certificate.pfx
    - name: Install dotnet-coverage
      run: dotnet tool install --global dotnet-coverage
    - name: Build
      run: dotnet build --no-restore --configuration Debug
    - name: Test
      run: dotnet-coverage collect "dotnet test --no-build --verbosity normal" -f xml -o "coverage.xml"
    - name: Ouput Test Coverage Artifact
      uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: coverage.xml